{% extends 'base.html' %}

{% block content_right %}

<div class="m-4">
    <h3 class="text-center">Login</h3>
    <form action="{{ url_for('login') }}" class="needs-validation" method="POST" novalidate>
        <div class="mb-3">
            <label class="form-label" for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            <div class="invalid-feedback">Please enter your username to continue.</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            <div class="invalid-feedback">Please enter your password to continue.</div>
            <div class="form-text">
                Must be at least 8 characters long.
            </div>    
        </div>
        
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
<div>
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
</div>

{% endblock %}
