<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flask app</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
    <header>
        {% block head %} {% endblock %}
    </header>

    <nav>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('dashboard') }}" class="navbar-item">
            Dashboard
        </a>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <a href="{{ url_for('login') }}" class="navbar-item">
            Login
        </a>
        <a href="{{ url_for('register') }}" class="navbar-item">
            Register
        </a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}" class="navbar-item">
            Logout
        </a>
        {% endif %}
    </nav>
    <hr>

    <div class="content">
        {% block content %} {% endblock %}
    </div>

    <footer>
        {% block footer %} {% endblock %}
    </footer>

</body>
</html>
