{% extends "base.html" %}

{% block content_nav %}
<!-- add  button for adding tasks -->
<button type="button" id="add_task_btn">Add Task</button>
{% endblock %}

<!--^^ make this message temporary ^^-->

<!-- put tasks list, add and update tasks functionality here -->
{% block content_left %}
<div class="container">
    <!-- add task form -->
    <div class="container border my-1 py-1" id="add_task_form">
        <div class="row">
            <div class="col">
                <h6>Add Task</h6>
                <form action="{{ url_for('add_task') }}" method="POST">
                    <div>
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" required>
                    </div>
                    <div>
                        <label for="description">Description:</label>
                        <input type="text" id="description" name="description" required>
                    </div>
                    <div>
                        <label for="due_date">Due Date:</label>
                        <input type="datetime-local" id="due_date" name="due_date" required>
                    </div>
                    <button type="submit">Add</button>
                </form>
            </div>
        </div>
    </div>
    <!-- task list -->
    {% for task in User_Tasks %}
        <div class="container border my-1 py-1">
            <div class="row">
                <!-- make the task display or form cols visible at a time using js -->
                <div class="col-md-10 task_display" id="task_display{{ task.id }}">
                    <b>#{{ task.id }}</b>
                    <p class="name">{{ task.title }}</p>
                    <p>{{ task.description }}</p>
                    <text id="start{{ task.id }}" >Start date: {{ task.created_at }}</text><text id="due{{ task.id }}" >Due by: {{ task.due_date }}</text>
                    <text id="status{{ task.id }}" >Status: {{ task.status }}</text>
                    <!-- <a href="{{ url_for('dashboard', task_id=task.id) }}">Update</a> -->
                    <button type="button" class="edit_btn" id="edit_task_btn{{ task.id }}">edit</button>
                    <button type="button" class="delete_btn" id="delete_task_btn{{ task.id }}">delete</button>
                </div>
                <!-- update task form -->
                <div class="col-md-10 form_display" id="task_form{{ task.id }}">
                    <b>Update Task</b>
                    
                    <form action="{{ url_for('update_task', id=task.id) }}" method="POST">
                        <div>
                            <label for="title">Title:</label>
                            <input type="text" id="title" name="title" value="{{ task.title }}" required>
                        </div>
                        <div>
                            <label for="description">Description:</label>
                            <input type="text" id="description" name="description" value="{{ task.description }}" required>
                        </div>
                        <div>
                            <label for="due_date">Due Date:</label>
                            <input type="datetime-local" id="due_date" name="due_date" value="{{ task.due_date }}" required>
                        </div>
                        <button type="submit" class="update_btn" id="update_task_btn{{ task.id }}">Update</button>
                        <button type="button" class="cancel_btn" id="cancel_task_btn{{ task.id }}">Cancel</button>
                    </form>
                </div>
                <div class="col-md-2 border task_visual_display" id="task_visual{{ task.id }}">
                    <!-- progress charts -->
                    <!-- first set circle progress meter -->
                    <div class="doughnut" id="doughnut{{ task.id }}"></div>
                    <!-- if task is complete then show tick -->
                    <svg width="100" height="100" id="tick{{ task.id }}">
                        <path d="M10 50 L30 70 L70 30" stroke="silver" fill="none" stroke-width="7" />
                        <path id="tick" d="M10 50 L30 70 L70 30" stroke="green" fill="none" stroke-width="7" />
                    </svg>
                </div>
            </div>
        </div>         
    {% endfor %}
</div>
{% endblock %}

<!-- put Stats and user info here  -->
{% block content_right %}
  <div class="container">


    <!-- Your dashboard content goes here -->
    <h1>Dashboard</h1>
    <p>Welcome, {{ username }}</p>
  </div>
{% endblock %}