.body {
    background-image: url('bg3.jpeg');
    /*background-image: url('../img/bg1small1080.jpg');
    background-position: center;
    background-size: center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
}
.coverimg {
    visibility: hidden;
}
.description {
    background-image: url('cover2.webp');
    background-size: cover;
    background-position: center;
    height: 700px;
    background-repeat: no-repeat;
}
.desc {
    text-align: center;
}
.rounded-xl {
    border-radius: 1.5rem;
}
.rounded-md {
    border-radius: 0.5rem;
}
.head {
    border-radius: 1rem;
}
.main_div {
    margin-top: 100px;
}
.feature_3p {
    position:relative;
}
.feature_3p img {
    position: absolute;
    right: 0;
}
#about {
    height: 100px;
}
#features {
    height: 100px;
}
.vid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, 0%);
}