#add_task_form {
    display: none;
}
.form_display {
    display: none;
}
/* douchnut css */
.doughnut {
    margin: 10px;
    width: 100px;
    height: 100px;
    position: relative;
  }
  .tick {
    margin: 10px;
    width: 100px;
    height: 100px;
  }